<div id="lists">

<%# Banner %>
  <div class="row">
    <div class="banner">
      <h2>Save any kind of movies</h2>
    </div>
  </div>

<%# Content %>
  <div class="row">
    <div class="content-container px-4 py-2">
        <div class="list-container">

          <div class="list-container-nav d-flex flex-row justify-content-between px-2">
            <h3>My Lists</h3>
            <%= link_to "Create a Movie List", new_list_path, class: "btn btn-success" %>
          </div>



          <div class="d-flex row col-lg-12">
            <% @lists.each do  |list| %>
              <div class="row col-lg-3 col-sm-6">
                <div class="mx-1">
                  <% if list.photo.attached? %>
                  <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 200, crop: :scale %>')" class="card-photo-attached">
                    <h5><%= list.name %></h5>
                  </div>
                  <% else %>
                  <div class="card-image">
                    <h5><%= list.name %></h5>
                  </div>
                  <% end %>
                  <div>
                    <%= link_to "Show Details", list_path(list) %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

        </div>
    </div>
  </div>


</div>
