<div id="list-of-bookmarks">
  <div class="banner">
    <div class="btn btn-alert"><%= @list.bookmarks.count %></div>
  </div>

  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-success"  %>

  <div class="bookmarks-cards-container row col-lg-12">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="bookmark-card col-lg-4 col-md-6 col-sm-6 shadow mb-5 bg-white rounded">

        <div class="bookmark-card-image ">
          <%= image_tag bookmark.movie.poster_url,
           alt: "poster of movie", height: 200   %>
        </div>

        <div class="bookmark-card-content d-flex flex-column p-3">

            <h5>
              <strong><%= bookmark.movie.title %></strong>
              <span> - <%= bookmark.movie.rating %> <i class="material-icons">star_border</i></span>
            </h5>

            <div class="bookmark-card-content-overview overflow-auto border-bottom">
              <p><%= bookmark.movie.overview %></p>
            </div>

            <div class="d-flex flex-row justify-content-between">

              <div>
                <i class="material-icons">format_quote</i>
                <span><%= bookmark.comment %></span>
              </div>

              <%= link_to "Delete",
                    bookmark_path(bookmark),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: "text-danger" %>
            </div>


        </div>
      </div>
    <% end %>
  </div>


  <h2>Reviews</h2>
  <ul class="list-group">
  <% @list.reviews.each do |review| %>
    <li class="list-item"><%= review.rating %> - <%= review.comment %></li>
  <% end %>
  </ul>

  <h2>Leave a Review</h2>
  <%= simple_form_for([@list, @review]) do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating %>
  <%= f.button :submit, class: 'btn btn-success' %>
<% end %>

</div>
